extends layouts/main
include mixins/test

block content
    div search
        each item in contents
            +test({
                title: item.title,
                content: item.content
            })