extends layouts/main

block content
    .image-test--home
        .main-img.slider
            img#jsMainImg
        img.main-img__left#jsArrowLeft(src="icon-img/arrow_left.png")
        img.main-img__right#jsArrowRight(src="icon-img/arrow_right.png")
    .home__article
        .primary__section-one
            .primary__title Primary Menu
                span.primary__subtitle 벧엘교회에 오신 여러분을 진심으로 환영 합니다.
                span.primary__description
                    span.primary__description-nomal 벧엘교회는 썰물로 갯벌에 박혀버린 인생을 은혜로 배 띄우려합니다. 이것은 그리스도로 말미암아 되는 것이고, 
                    span.primary__description-string 참 신앙으로 이루어져야 한다고 믿습니다.
        .primary__section-two
            .primary-box
                .primary__number 01
                .primary__semititle 담임목사님 소개
                    span 안녕하세요? 주의 이름으로
                    span.pastor-introduce-string 환영합니다!
                a(href="")
                    img(src="icon-img/Layer5.png")
            .primary-box
                .primary__number 02
                .primary__semititle 예배안내
                    span 예배는 하나님과 우리 인간의
                    span.pastor-introduce-string 만남의 시간
                    span 입니다.
                a(href="")
                    img(src="icon-img/Layer7.png")
            .primary-box
                .primary__number 03
                .primary__semititle 새가족환영
                    span 여러분의
                    span.pastor-introduce-string 마음의 쉼터와 은혜의 공간
                    span 이 되길 소망합니다.
                a(href="")
                    img(src="icon-img/Layer6.png")
        .primary__section-three
                .primary__guide
                    .guide-i
                        .guide-backgroundbox
                        a(href="")
                            img(src="icon-img/일산성전_LINK.png")
                        span 일산 (i) 안내
                    .guide-u
                        .guide-backgroundbox
                        a(href="")
                            img(src="icon-img/운정성전_LINK.png")
                        span 운정 (u) 안내