extends partials/searchNav
//- include mixins/search_worship

block search

    h2 worship

    //- each item in worships
    //-     +search_worship({
    //-         title: item.title,
    //-         content: item.content
    //-     })


