.footer{
    // position: fixed;
    // left: 0;
    // bottom: 0;
    z-index: -1;
    .footer-box{
        padding: 90px 171px 0 171px;
        .footer__gallery{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 13px;
            img{
                justify-self: center;
                width: 180px;
                height: 180px;
            }
        }
        .footer-container{
            border-bottom: 1px solid black;
            padding: 120px 90px 60px 90px;
            display: grid;
            grid-template-columns: 130px 1fr 1fr;
            .footer__menu{
                text-align: center;
                span{
                    font-size: 30px;
                    font-family: SCDream3;
                }
                .footer__nav-list{
                    li{
                        &:first-child{
                            margin-top: 40px;
                        }
                        margin-top: 28px;
                        a{
                            border-bottom: 1px solid grey;
                            font-family: SCDream3;
                        }
                    }
                }
    
            }
            .footer__location{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 700px;
                .footer__location-column{
                    padding: 51px 0;
                }
                .footer__location-column-address{
                    padding: 0 0 0 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 19px;
                    .address{
                        margin-bottom: 25px;
                        display: flex;
                        .address__name{
                            font-weight: 600;
                            margin-right: 10px;
                            font-family: SCDream5;
                        }
                        .address__detail{
                            text-align: center;
                            width: 440px;
                            height: 30px;
                            font-family: SCDream3;
                            font-size: 17px;
                            line-height: 1.5;
                        }
                    }
                }
            }
            .footer__connect{
                text-align: center;
                .footer__connect-name{
                    font-size: 30px;
                    font-family: SCDream3;
                }
                .footer__connect-list{
                    li{
                        &:first-child{
                            margin-top: 40px;
                        }
                        margin-top: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            display: flex;
                            align-items: center;
                            img{
                                width: 20px;
                                margin-right: 10px;
                            }
                            span{
                                font-size: 23px;
                                font-family: SCDream3;
                            }
                        }
                        &:nth-child(3),&:nth-child(4){
                            width: 200px;
                        }
                        .location-name{
                            font-weight: 600;
                            margin-right: 5px;
                            font-family: SCDream5;
                        }
                        .location-phone{
                            font-family: SCDream3;
                            font-size: 15px;
                        }
                    }
                }
    
            }   
        }
    }
    .footer__copyright{
        margin: 30px 0 60px 0;
        text-align: center;
        font-family: SCDream3;
        font-size: 18px;
    }
}